@{
ViewData["Title"] = "Home Page";
}

<style>
    table {
        border-collapse: collapse;
        width: 100%;
    }
    th, td {
        text-align: justify;
        padding: 8px;
        border-bottom: 1px solid #ddd;
        border-top: 1px solid #ddd;
    }
    h1 {
        color: rgb(235, 78, 51);
    }
</style>

<div class="text-center">
    <h1 class="display-4">Access Denied</h1>
    <h4>You are unauthorized to view this page.</h4>

    <br />
</div>